body {
	background-color:lightblue;
	font-family:arial;
	margin-left: 200px;
	
}
.welcome{
	font-weight: bold;
}

input[type=submit]{
    padding: 10px;
	width: 100px;
	color: white;
	background-color: #4444ff;
	border: #8888ff;
	border-radius: 5px;	
	border-style: groove;
	cursor: pointer;
}

